:root {

    --main-text-color: rgb(72, 8, 72);
}

body {
    background: rgb(160, 160, 248);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

    color: var(--main-text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    background: linear-gradient(to right, rgb(72, 8, 72), #7c2c62);
    -webkit-background-clip: text;
    color: transparent;
}

.to-hide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 40px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;

    font-family: Quicksand, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
}

.clear-btn:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
}

.clear-btn:active {
    transform: scale(0.9);
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Cards will be injected by JS if submit */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 120px;
    width: 200px;

    margin: 12px;
    padding: 12px;

    cursor: pointer;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(59, 3, 59, 0.196);
}

.card.checked {
    text-decoration: line-through;
}

/* Handle the color of the card text, depending on the priority */
.high {
    color: red;
}

.medium {
    color: blue;
}

.low {
    color: green;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.203);
    border-radius: 12px;

    width: 60%;
    margin: 12px;
    padding: 12px;

    box-shadow: 2px 2px 8px rgba(59, 3, 59, 0.196);
}

/* Nested!! So it is really specific */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    margin: 0 12px 12px 12px;

    & .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;

        width: 100%;

        & label {
            width: 30%;
        }

        & input {
            margin: 2px;
            font-size: 1em;
            width: 70%;

            border: 3px solid rgba(45, 2, 45, 0.62);
            border-radius: 6px;
        }
    }
}

input[type="submit"] {
    cursor: pointer;
    display: none;
}